:root {
  --font-size: 16px;
  --line-height: 24px;
}

body {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1.title,
h2.title {
  text-transform: capitalize;
}

main {
  min-height: 90vh;
}

img {
  max-width: 100%;
}

.rte-block {
  margin-top: 1.875rem;
  margin-bottom: 0.5rem;

  p {
    color: #000;
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;

    li {
      border-top: 1px solid var(--border-color);
      color: #000;
      list-style: none;
      padding: 1.25rem 0;

      p {
        margin-bottom: 0;
        color: inherit;
      }
    }
  }
}

.bg-blue {
  .rte-block {
    p {
      color: #fff;
    }

    ul {
      li {
        border-top-color: rgba(231, 233, 237, 0.13);
        color: #fff;
      }
    }
  }
}

.ce-bodytext {
  margin-top: 1.875rem;
  margin-bottom: 0.5rem;

  h1,
  h2,
  h3 {
    margin-bottom: 1.5rem;
  }

  ol,
  ul,
  dl {
    margin-bottom: 2rem;
  }

  ul {
    &:not(.list-unstyled) {
      padding-left: 1.1rem;
      list-style: disc;
    }

    li {
      font-size: 1.0625rem;
      letter-spacing: -0.2px;
      line-height: 1.71;
      margin-top: 1.25rem !important;
    }
  }

  ol {
    counter-reset: my-badass-counter;
    padding: 0;

    li {
      list-style-type: none;
      margin-bottom: 10px;
      padding-left: 35px;
      position: relative;

      &::before {
        content: counter(my-badass-counter, upper-roman) ".";
        counter-increment: my-badass-counter;
        font-weight: bold;
        left: 1px;
        position: absolute;
        top: 0;
      }
    }
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 1.7;
  }

  blockquote {
    margin: 50px 0;
  }

  table {
    width: 100%;
    margin-bottom: 2rem;
    color: var(--color-texts-opacity);

    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }

    th,
    td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid var(--border-color);
    }
  }

  &.address-text {
    margin-top: 0;
    p {
      font-size: 1.3125rem;
      letter-spacing: -0.5px;
      line-height: 1.5;
      margin-bottom: 0;
    }
  }
}

.single-news-hero-img {
  span,
  img {
    width: 100%;
  }
}

blockquote {
  font-size: 1.4em;
  margin: 50px 0;
  font-style: italic;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid var(--color-texts-opacity);
  line-height: 1.6;
  position: relative;
  background: var(--bg-8);
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.cta-section-2.dark-mode-texts.bg-default-2 {
  color: var(--color-texts) !important;

  .title.text-white,
  .gr-color-white-opacity-7 {
    color: var(--color-texts) !important;
  }
}

.bg-image.bg-gradient:before {
  opacity: 0.5;
}

.map-wrap {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.map-wrap,
.fluid-map-height {
  height: 500px !important;
}

.brand-logos .w-100 {
  max-width: 46px;
}

.service-card img {
  object-fit: cover;
}

.team-card img {
  border-radius: 8px;
}

span.blur {
  width: 100%;
}

.feature-widget img {
  max-width: 36px;
}

.single-fact {
  margin-bottom: 3rem;
}

.cta-section-2.bg-default-2 {
  background-color: var(--primary);
}

.site-offcanvas-menu + .service-section.pt-15 {
  padding-top: 6.5rem !important;

  @include desktops {
    padding-top: 9.6875rem !important;
  }
}

.news-section .three_column-layout .card-content .title,
.news-section .four_column-layout .card-content .title,
.news-section .full_width-layout .card-content .title,
.news-section .no_margin_full_width-layout .card-content .title,
.news-section .no_margin-layout .card-content .title {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 95px;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-section .news-wrapper {
  // display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  padding: 0;
  list-style: none;
  &.news-list-view {
    display: flex;
    margin: 0 -15px;
  }
  &.list-view {
    li {
      flex: 0 0 100%;
      max-width: 100%;
      .location-card {
        display: flex;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        .card-img {
          flex: 0 0 35%;
          max-width: 35%;
          width: 100%;
          @include media-breakpoint-up(lg) {
            flex: 0 0 25%;
            max-width: 25%;
          }
          img {
            border-radius: 10px;
          }
        }
        .card-content {
          flex: 0 0 65%;
          max-width: 65%;
          width: 100%;
          padding: 22px 14% 15px 30px;
          @include media-breakpoint-up(lg) {
            flex: 0 0 75%;
            max-width: 75%;
          }
        }
      }
    }
  }
  li {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include media-breakpoint-up(lg) {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
}

.news-section .change-view-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15px;
  border-bottom: 1px solid #eae9e9;
  margin-bottom: 25px;
  button {
    border: 1px solid #d5d7dd;
    background-color: transparent;
    padding: 8px;
    outline: none;
    box-shadow: none;
    transition: all 0.2s;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &.active {
      background-color: rgba(71, 59, 240, 0.1);
      border-color: rgba(71, 59, 240, 0.1);
      img {
        display: none;
        &.active {
          display: inline;
        }
      }
    }
    img {
      display: inline;
      &.active {
        display: none;
      }
    }
  }
}

.gallery-wrapper {
  .img-in {
    display: block;
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.lightbox-section {
  img {
    object-fit: cover;
    width: 100%;
  }
}

.slider-section {
  .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    position: relative;
    min-height: 480px;
    @include media-breakpoint-up(md) {
      min-height: 650px;
    }
    &.with-text {
      z-index: 0;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(18, 34, 65, 0.65);
        height: 100%;
        width: 100%;
        z-index: -1;
      }
    }
    .carousel-item-inner {
      height: 100%;
      width: 100%;
      max-width: 85%;
      padding: 0 15px;
      margin: 0 auto;
      @include media-breakpoint-up(md) {
        max-width: 100%;
        padding: 0;
      }
      .carousel-caption {
        position: static;
      }
    }
  }
}

.accordion-section {
  .card {
    &.active-card {
      button {
        &:after {
          transform: rotate(-180deg);
        }
      }
    }
    .card-header {
      background-color: #f4f7fa;
    }
    .card-body {
      background-color: #ffffff;
    }
  }
}

// color scheme css
.bg-blue,
.bg-primary {
  background-color: var(--primary) !important;
}

.bg-green,
.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

// .btn-secondary,
.btn-green {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-link {
  color: var(--primary);
  &:hover {
    color: #1c10cf;
  }
}

.text-blue,
.text-primary {
  color: var(--primary) !important;
}
.text-red {
  color: var(--red) !important;
}

a {
  color: var(--primary);
  &.text-blue {
    &:hover {
      color: #1c10cf !important;
    }
  }
}

.list-section {
  ul {
    padding: 0;
    list-style-type: none;
    li {
      position: relative;
      font-size: 18px;
      line-height: 26px;
      padding-left: 35px;
      margin-bottom: 20px;
      @include media-breakpoint-up(lg) {
        font-size: 22px;
        line-height: 34px;
        padding-left: 30px;
      }
      .icon-in {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.CookieConsent {
  a {
    text-decoration: underline;
  }
  #rcc-decline-button {
    text-transform: capitalize;
    background-color: transparent !important;
    color: #000000 !important;
  }
  #rcc-confirm-button {
    text-transform: capitalize;
    background-color: #fff !important;
  }
}

.o-cover {
  object-fit: cover;
}

.bd-example {
  margin-top: 0;
  margin-bottom: 45px;
  .btn {
    min-width: 150px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

blockquote {
  background-color: var(--bg-2);
  border-color: var(--primary);
  &:before {
    color: var(--primary);
  }
}

.footer-curve {
  left: 0;
  // top: -18%;
  top: -3%;
  bottom: auto !important;
  // width: 117%;
  @media (min-width: 400px) {
    top: -3.5%;
  }
  @media (min-width: 575px) {
    top: -5%;
  }
  @media (min-width: 600px) {
    top: -7%;
  }
  @media (min-width: 700px) {
    top: -8%;
  }
  @media (min-width: 768px) {
    top: -11%;
  }
  @media (min-width: 992px) {
    top: -13.5%;
  }
  @media (min-width: 1300px) {
    top: -15.5%;
  }
  @media (min-width: 1400px) {
    top: -16.5%;
  }
  @media (min-width: 1600px) {
    top: -18.5%;
  }
  @media (min-width: 1800px) {
    top: -20.5%;
  }
  @media (min-width: 1920px) {
    top: -22%;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin: 0 -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  // padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  // background: grey;
  // margin-bottom: 30px;
  // flex: 0 0 100%;
  // max-width: 100%;
}
