.abs-img {
  position: absolute;
  right: -15px;
  top: -40px;
  z-index: -1;
}
.wave-shape {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 120%;
  @include large-desktops {
    width: 106%;
    // bottom: -35px;
    img {
      width: 106%;
    }
  }
}

.hero-section {
  min-height: 75vh;
  .hero-img {
    img {
      @include desktops {
        width: 105% !important;
      }
      @include large-desktops-mid {
        width: 120% !important;
      }
      @include extra-large-desktops {
        width: 126% !important;
      }
    }
  }
}
